<div>
    <p><a href="http://localhost:4200/produto">Produto</a></p>
    <p><a href="http://localhost:4200/produto/inserir">Inserir Produto</a></p>
    <p><a href="http://localhost:4200/produto/listar">Listar Produto</a></p>
    <p><a href="http://localhost:4200/produto/editar">Editar Produto</a></p>

    <p><a href="http://localhost:4200/cliente">Cliente</a></p>
    <p><a href="http://localhost:4200/cliente/inserir">Inserir Cliente</a></p>
    <p><a href="http://localhost:4200/cliente/listar">Listar Cliente</a></p>
    <p><a href="http://localhost:4200/cliente/editar">Editar Cliente</a></p>

    <p><a href="http://localhost:4200/pedido">Pedido</a></p>
    <p><a href="http://localhost:4200/pedido/inserir">Inserir Pedido</a></p>
    <p><a href="http://localhost:4200/pedido/listar">Listar Pedido</a></p>
    <p><a href="http://localhost:4200/pedido/editar">Editar Pedido</a></p>
    
    <router-outlet></router-outlet>
</div>